@charset "UTF-8";
/* ---------------------- header ------------------------ */
.logo h1 a {
  font-family: var(--font-logo);
  font-size: var(--font-size-logo);
  font-weight: 900;
  color: var(--color-black);
  cursor: pointer;
  text-decoration: none;
}
.search-box {
  position: relative;
  border: none;
  border-left: var(--border-bold-size) solid var(--color-main);
}
.search-box .icon {
  display: inline-block;
  width: var(--size-icon-small);
  height: var(--size-icon-small);
  position: absolute;
  right: var(--size-padding);
  top: 50%;
  transform: translate(0, -50%);
  overflow: hidden;
  border: none;
  background: none;
  cursor: pointer;
}
.search-box .icon img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	-webkit-user-drag: none;
}
.search-select {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/svg/drop_down.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: inline-block;
  width: 80px;
  font-size: var(--font-size-normal);
  padding: var(--size-padding);
  cursor: pointer;
}
.search-select:focus {
  outline: none;
  border: none;
}
.input-text {
  height: var(--size-input-height);
  font-size: var(--font-size-normal);
  outline: none;
  border: none;
}
.search-box .input-text {
  width: 300px;
  padding-left: var(--size-padding);
  padding-right: 40px;
}
.input-text:focus {
  outline: none;
}
.button button,
.button a,
.button span {
  background: var(--color-main);
  padding: 7px 15px;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  display: block;
}
.button button:hover,
.button a:hover,
.button span:hover {
  background: var(--color-hightlight-main);
}
.button button:active,
.button a:active,
.button span:active{
  background: var(--color-dark-main);
}
.button.btn-gray a,
.button.btn-gray span,
.button.btn-gray button{
	background: var(--color-gray);
}
.button.btn-gray a:hover,
.button.btn-gray span:hover,
.button.btn-gray button:hover{
	background: var(--color-light-gray);
}
.button.btn-gray a:active,
.button.btn-gray span:active,
.button.btn-gray button:active{
	background: var(--color-dark-gray);
}
.user-box{
	position: relative;
}
.user-box .nickname{
	color: var(--color-point-text);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}
.user-box .nickname:hover{
	text-decoration: underline;
}
.user-box .user-menu{
	list-style: none;
	border: 3px solid var(--color-gray);
	position:absolute;
	width: 80px;
	background: var(--color-white);
	display: none;
}
.user-box .user-menu.active{
	display: block;
}
.user-box .user-menu li{
	text-align: center;
}
.user-box .user-menu li:not(:last-child){
	border-bottom: 1px solid var(--color-light-gray);
}
.user-box .user-menu li a{
	text-decoration: none;
	color: var(--color-black);
	font-size: var(--font-size-small);
	width: 100%;
	height: 100%;
	display: block;
}
.user-box .user-menu li a:hover{
	background: var(--color-light-gray);
}
.user-box .user-menu li a:active{
	background: var(--color-dark-gray);
}

/* --------------------------- index ------------------------------------*/
.text-title,
.text-title a{
  color: var(--color-black);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}
.text-title:hover,
.text-title a:hover{
	text-decoration: underline;
}

.text-nickname,
.text-nickname a{
  color: var(--color-dark-gray);
  font-size: var(--font-size-small);
  text-decoration: none;
}
.text-nickname a:hover{
	text-decoration: underline;
}

.text-recom {
  color: var(--color-gray);
  font-size: var(--font-size-small);
}
.text-recom .icon{
  background-image: url("/svg/good-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: var(--color-gray);
}
.text-bookmark{
	color: var(--color-gray);
  font-size: var(--font-size-small);
}
.text-bookmark .icon{
  background-image: url("/svg/star-solid.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.text-info {
  color: var(--color-dark-gray);
  font-size: var(--font-size-normal);
}
div.visual {
  background-image: url("/img/visual.jpg");
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
}
.article-title {
  padding-bottom: 20px;
}
.article-title h2 {
  color: var(--color-accent);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
}
.article-title h3 {
  color: var(--color-accent);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
}
.article-title a {
  color: var(--color-accent);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

div.thumbnail-large {
  width: 180px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}
div.thumbnail-large img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
div.thumbnail-normal {
  width: 150px;
  height: 200px;
  overflow: hidden;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  margin-right: 10px;
}
div.thumbnail-normal img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rect-button{
	width: 30px;
	height: 30px;
	background: none;
	border: var(--border-bold-size) var(--color-white) solid;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-user-drag: none;
	cursor: pointer;
}
.rect-button.left{
	background-image: url("/svg/left.svg");
}
.rect-button.right{
	background-image: url("/svg/right.svg");
}
div.thumbnail-small {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 1px solid var(--color-light-gray);
  	border-radius: 5px;
}
div.thumbnail-small img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.theme{
	width: 450px;
}
.theme > div:last-child {
	width: 280px;
	flex-grow: 1;
}
.theme > div:last-child > div:nth-child(3) {
	height: 75px;
}
.novel-wrapper{
	width: 180px;
}

.genre-wrapper{
	padding: 30px 0;
}
.list{
	list-style: none;
}
.list li span{
	display: block;
	padding: 2px 0;
}
.list li span:first-child{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 360px;
}
.list li span:first-child a{
	font-size: var(--font-size-normal);
	color: var(--color-black);
	text-decoration: none;
}
.list li span:first-child a:hover{
	text-decoration: underline;
}
.list li span:last-child,
.list li span:last-child a{
	font-size: var(--font-size-small);
	color: var(--color-gray);
	text-decoration: none;
}
.list li span:last-child a:hover{
	text-decoration: underline;
}
.login-wrapper{
	width: 450px;
	height: 250px;
	margin: 250px auto;
	border: var(--border-light-size) solid var(--color-main);
	border-radius: 5px;
}
.form-title h2{
	padding: 20px 0;
	text-align: center;
	font-size: var(--font-size-xlarge);
	font-weight: var(--font-weight-bold);
	color: var(--color-black);
}
.login-wrapper .login-form div:first-child{
	width: 270px;
}
.login-wrapper .login-form div:first-child input{
	width: 100%;
	height: 40px;
	padding: 0 var(--size-padding);
}
.login-wrapper .login-form div:last-child {
	width: 120px;
	height: 90px;
}
.login-wrapper .login-form div:last-child button {
	width: 100%;
	height: 100%;
	background: var(--color-main);
	border: none;
	color: var(--color-white);
	font-size: var(--font-size-large);
	border-radius: 5px;
	cursor: pointer;
}
.login-wrapper .login-form div:last-child button:hover{
	background: var(--color-hightlight-main);
}
.login-wrapper .login-form div:last-child button:active{
	background: var(--color-dark-main);
}
.login-wrapper .signup{
	color: var(--color-point-text);
	text-decoration: none;
}
.signup-wrapper{
	padding: 10px;
	margin: 100px auto;
	max-width: 500px;
	border: var(--border-light-size) solid var(--color-main);
	border-radius: 5px;
}
.signup-wrapper #signup_form > div > div{
	padding: 10px;
}
.signup-wrapper input[type="text"],
.signup-wrapper input[type="password"]{
	width: 320px;
	height: 40px;
	border: var(--color-light-gray) var(--border-light-size) solid;
	padding: 0 var(--size-padding);
	border-radius: 5px;
}
.input-title{
	padding: 5px 0;
	color: var(--color-gray);
	font-size: var(--font-size-large);
}
.vaildation-btn button{
	padding: 5px 10px;
	background: #454545;
	color: var(--color-white);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.vaildation-btn button:hover{
	background: #292929;
}
.novel-list{
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}
.novel-item{
	width: 480px;
	flex-basis: 45%;
	margin-bottom: 20px;
}
.novel-item > div:last-child {
	width: 330px;
	flex-grow: 1;
}
.novel-item > div:last-child > div:nth-child(3) {
	height: 120px;
}
.sort-new a{
	color: var(--color-dark-gray);
	cursor: pointer;
	padding-right: 10px;
	padding-left: 30px;
	text-decoration: none;
}
.sort-new a:hover{
	text-decoration: underline;
}
.sort-new.active a{
	color: var(--color-point-text);
	background-image: url("/svg/check.svg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}
.sort-recom a{
	color: var(--color-dark-gray);
	cursor: pointer;
	padding-left: 30px;
	text-decoration: none;
}
.sort-recom a:hover{
	text-decoration: underline;
}
.sort-recom.active a{
	color: var(--color-point-text);
	background-image: url("/svg/check.svg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}
.pagnation{
	list-style: none;
	display: flex;
}
.pagnation li a,
.pagnation li span{
	width: 30px;
	height : 30px;
	border: var(--border-light-size) solid var(--color-gray);
	text-align: center;
	line-height: 27px;
	border-radius: 5px;
	color: var(--color-dark-gray);
	margin: 0 2px;
	display: block;
	text-decoration: none;
	cursor:pointer;
}
.pagnation li a:hover,
.pagnation li span:hover{
	text-decoration: underline;
}
.pagnation li a.active,
.pagnation li span.active{
	background: var(--color-main);
	color: var(--color-white);
}

.novel-form{
	width: 700px;
	margin: 0 auto;
	padding: var(--size-padding);
}
.form-input label{
	color: var(--color-black);
	font-size: var(--font-size-large);
	padding: 15px 0;
	display: block;
	font-weight: var(--font-weight-normal);
	margin-bottom: 0;
}
.form-input input[type="text"]{
	border: var(--color-light-gray) var(--border-light-size) solid;
	outline: none;
	width: 500px;
	height: 40px;
	border-radius: 5px;
	padding: 0 5px;
	font-size: var(--font-size-normal);
}
.form-input select{
	width: 150px;
	height: 40px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: var(--color-light-gray) var(--border-light-size) solid;
	border-radius: 5px;
	background-image: url("/svg/drop_down.svg");
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
	padding-left: 5px;
}
.form-input textarea{
	width: 100%;
	border: var(--color-light-gray) var(--border-light-size) solid;
	outline: none;
	border-radius: 5px;
	padding: 5px 5px;
	font-size: var(--font-size-normal);
}
.novel-form .thumbnail{
	width: 150px;
	height :200px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: 5px dashed var(--color-light-gray);
	border-radius: 10px;
}
.novel-form .thumbnail.active{
	border: none;
}
.novel-form .thumbnail .no-input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.novel-form .thumbnail .no-input img{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100px;
	height: 150px;
	transform: translate(-50%, -50%);
	-webkit-user-drag: none;
	user-select: none;
}
.novel-form .thumbnail .no-input span{
	color: var(--color-light-gray);
	font-size: var(--font-size-small);
	text-align: center;
	position: absolute;
	bottom: 10%;
	display: block;
	width: 100%;
	user-select: none;
}
.novel-form .thumbnail .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.novel-form .thumbnail .input img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* novel detail */

.detail-header{
	padding: var(--size-padding);
	position: relative;
}
.detail-header .title h2{
	color: var(--color-black);
	font-size: var(--font-size-xlarge);
	font-weight: var(--font-weight-bold);
}
.detail-header a{
	text-decoration: none;
}
.detail-header a:hover{
	text-decoration: underline;
}
.detail-header #novel-delete-btn{
	position: absolute;
	right: 10px;
	top: 10px;
}
.detail-header .review{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.detail-header .review a{
	text-decoration: none;
	color: var(--color-point-text);
	padding-right: 15px;
	background-image: url("/svg/right_point.svg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	font-size: var(--font-size-xsmall);
	font-weight: var(--font-weight-light);
}
.detail-header #novel-delete-btn a{
	background: var(--color-red);
	color: var(--color-white);
	font-size: var(--font-size-normal);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	text-decoration: none;
}
.detail-header #novel-delete-btn a:hover{
	background: var(--color-hightlight-red);
}
.detail-header #novel-delete-btn a:active{
	background: var(--color-dark-red);
}
.detail-header #novel-update-btn{
	position: absolute;
	right: 70px;
	top: 10px;
}
.detail-header #novel-update-btn a{
	background: var(--color-green);
	color: var(--color-white);
	font-size: var(--font-size-normal);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	text-decoration: none;
}
.detail-header #novel-update-btn a:hover{
	background: var(--color-hightlight-green);
}
.detail-header #novel-update-btn a:active{
	background: var(--color-dark-green);
}
.detail-header .genre a{
	font-size: var(--font-size-small);
	color: var(--color-gray);
}
.detail-header .nickname a{
	color: var(--color-point-text);
	font-size: var(--font-size-normal);
}
.detail-info{
	border: var(--border-light-size) solid var(--color-light-gray);
	
	position: relative;
}
.detail-info .detail-story{
	color: var(--color-dark-gray);
}
.detail-info > div:nth-child(1){
	padding: 10px 20px 10px 240px;
	overflow-y: scroll;
	height: 230px;
}
.detail-info > div:nth-child(2){
	padding: 20px 10px 20px 240px;
	border-top: var(--border-light-size) solid var(--color-light-gray);
	background: #e4e4e4;
}
.detail-info .thumbnail{
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 1px var(--color-light-gray) solid;
	border-radius: 5px;
}
.detail-info .thumbnail img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.detail-info .btn-box{
	color: var(--color-gray);
	font-size: var(--font-size-normal);
	user-select: none;
}
.detail-info .btn-box .recom{
	display: flex;
	align-items: center;
	margin-right: 30px;
	cursor: pointer;
}
.detail-info .btn-box .recom .icon{
	margin-right: 5px;
	background-image: url("/svg/good.svg");
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: all linear 0.2s 0s;
}
.detail-info .btn-box .recom.active .icon{
	background-image: url("/svg/good-solid.svg");
}
.detail-info .btn-box .bookmark{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.detail-info .btn-box .bookmark .icon{
	margin-right: 5px;
	background-image: url("/svg/star.svg");
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: all linear 0.2s 0s;
}
.detail-info .btn-box .bookmark.active .icon{
	background-image: url("/svg/star-solid.svg");
}
.detail-info .start-btn{
	padding-right: 10px;
}
.detail-info .start-btn a{
	padding: 10px 50px;
	text-decoration: none;
	color: var(--color-white);
	background: var(--color-main);
	border-radius: 20px;
	display: inline-block;
	font-size: var(--font-size-large);
}
.detail-info .start-btn a:hover{
	background: var(--color-hightlight-main);
}
.detail-info .start-btn a:active{
	background: var(--color-dark-main);
}
.detail-contents{
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}
.detail-contents .detail-list{
	width: 650px;
}
.detail-contents .other{
	width: 300px;
}
.detail-contents .detail-list .list-contents{
	padding-bottom: 50px;
}
.detail-contents .detail-list .list-contents .list-header{
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px var(--color-black) solid;
}
.detail-contents .detail-list .list-contents .list-header .title{
	font-size: var(--font-size-xlarge);
	color: var(--color-black);
}
.detail-contents .detail-list .list-contents .list-header .button a{
	padding: 5px 20px;
	color: var(--color-white);
	background: var(--color-point-text);
}
.detail-contents .detail-list .list-contents .list li{
	display: flex;
	justify-content: space-between;
	padding: 15px 10px;
	align-items: center;
	border-bottom: 1px var(--color-light-gray) solid;
}
.detail-contents .detail-list .list-contents .list li:last-child{
	border-bottom: 1px var(--color-black) solid;
}
.detail-contents .detail-list .list-contents .list li .title a{
	display: inline-block;
	font-size: var(--font-size-large);
	color: var(--color-dark-gray);
	text-decoration: none;
}
.detail-contents .detail-list .list-contents .list li .title a:hover{
	text-decoration: underline;
}
.detail-contents .detail-list .list-contents .list li .btn-box .epi-update{
	padding: 5px 10px;
	font-size: var(--font-size-xsmall);
	background: var(--color-green);
	color: var(--color-white);
	text-decoration: none;
	border-radius: 5px;
	display: inline;
	margin-right: 5px;
	cursor: pointer;
}
.detail-contents .detail-list .list-contents .list li .btn-box .epi-update:hover{
	background: var(--color-hightlight-green);
}
.detail-contents .detail-list .list-contents .list li .btn-box .epi-update:active{
	background: var(--color-dark-green);
}
.detail-contents .detail-list .list-contents .list li .btn-box .epi-delete{
	padding: 5px 10px;
	font-size: var(--font-size-xsmall);
	background: var(--color-red);
	color: var(--color-white);
	text-decoration: none;
	border-radius: 5px;
	display: inline;
	cursor: pointer;
}
.detail-contents .detail-list .list-contents .list li .btn-box .epi-delete:hover{
	background: var(--color-hightlight-red);
}
.detail-contents .detail-list .list-contents .list li .btn-box .epi-delete:active{
	background: var(--color-dark-red);
}
.detail-contents .other .other-header{
	padding: 20px 15px;
	color: var(--color-gray);
	background: #e4e4e4;
	border: 1px solid var(--color-light-gray);
	border-top: none;
}
.detail-contents .other .novel-list{
	padding: 30px 20px;
	list-style: none;
	border: 1px solid var(--color-light-gray);
	border-top: none;
}
.detail-contents .other .novel-list li{
	padding-bottom: 30px;
}
.detail-contents .other .novel-list li:last-child{
	padding-bottom: 0px;
}
.detail-contents .other .novel-list .thumbnail{
	width: 100px;
	height: 150px;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid var(--color-light-gray);
	margin-right: 15px;
}
.detail-contents .other .novel-list .thumbnail img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.detail-contents .other .novel-list .info{
	padding-left: 0 10px;
	width: 145px;
}
.detail-contents .other .novel-list .info div:nth-child(1) .text-title{
	font-weight: var(--font-weight-normal);
}
.detail-contents .other .novel-list .info div:nth-child(3){
	height: 65px;
}
.detail-contents .other .novel-list .info div:nth-child(3) .novel-story{
	font-size: var(--font-size-small);
	color: var(--color-gray);
}
.detail-contents .other .novel-list .info div:nth-child(4) {
	margin-top: 10px;
}
.warn-sign{
	background-image: url("/svg/warn.svg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	display: inline-block !important;
}
.empty-msg.hide{
	display: none !important;
}

/* episode add */
.episode-form{
	width: 700px;
	margin: 50px auto;
}
.episode-form .form-item .form-title h3{
	color: var(--color-black);
	font-size: var(--font-size-large);
	padding: 15px 0;
}
.episode-form .form-item .form-input input[type="text"]{
	width: 100%;
}
.episode-form .form-item .episode-btn-box #episode-add-btn{
	background: var(--color-point-text);
	color: var(--color-white);
	width: 30px;
	height: 30px;
	font-size: var(--font-size-large);
	border: 1px solid var(--color-main);
	border-radius: 5px;
}
.episode-form .form-item .episode-btn-box #episode-add-btn:active{
	background: var(--color-accent);
}
.episode-form .form-item .option-wrapper .episode-option{
	border: 1px solid var(--color-light-gray);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.episode-form .form-item .option-wrapper .episode-option input,
.episode-form .form-item .option-wrapper .episode-option select{
	border: none;
	outline: none;
}
.episode-form .form-item .option-wrapper .episode-option .option-contents{
	border-right: 1px solid var(--color-light-gray);
	padding: 10px 5px;
	flex-basis: 70%;
}
.episode-form .form-item .option-wrapper .episode-option .option-contents input{
	width: 100%;
}
.episode-form .form-item .option-wrapper .episode-option .connect-episode{
	padding: 10px 5px 10px 20px;
	flex-basis: 30%;
}
.episode-form .form-item .option-wrapper .episode-option .connect-episode select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("/svg/drop_down.svg");
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
	width: 100%;
}

/* modal */
#modal-wrapper{
	background: rgb(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#modal-wrapper .form{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: var(--color-white);
	padding: 20px 30px;
	border-radius: 10px;
}
#modal-wrapper .form .title{
	font-size: var(--font-size-xlarge);
	font-weight: var(--fonst-weight-bold);
	padding: 5px 0;
}
#modal-wrapper .form .input-wrapper input[type="text"],
#modal-wrapper .form .input-wrapper textarea{
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid var(--color-light-gray);
	margin: 15px 0;
}
/* ------------------------------공지사항, 감상평-------------------------- */
#post-list-wrapper .header{
	position: relative;
}
#post-list-wrapper .header .notice-add-btn{
	position: absolute;
	right : var(--size-padding);
	top: var(--size-padding);
}
#post-list-wrapper .header .notice-add-btn a{
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-light);
	padding: 5px 10px;
	background : var(--color-point-text);
	color: var(--color-white);
	border-radius: 5px;
}
#post-list-wrapper .inner-wrapper .post-list{
	list-style: none;
}
#post-list-wrapper .inner-wrapper .post-list li{
	border: 1px solid var(--color-light-gray);
	margin: 10px 0;
	border-radius: 2px;
	padding: 5px 30px;
	position: relative;
}
#post-list-wrapper .inner-wrapper .post-list .title{
	color: var(--color-black);
	font-size: var(--font-size-large);
	text-decoration: none;
}
#post-list-wrapper .inner-wrapper .post-list .title:hover{
	text-decoration: underline;
}
#post-list-wrapper .inner-wrapper .post-list .novel{
	text-decoration: none;
	color: var(--color-point-text);
	font-size: var(--font-size-small);
}
#post-list-wrapper .inner-wrapper .post-list .novel:hover{
	text-decoration: underline;
}
#post-list-wrapper .inner-wrapper .post-list .nickname{
	color: var(--color-dark-gray);
	font-size: var(--font-size-normal);
	text-decoration: none;
	margin-right: 10px;
}
#post-list-wrapper .inner-wrapper .post-list .nickname:hover{
	text-decoration: underline;
}
#post-list-wrapper .inner-wrapper .post-list .date{
	color: var(--color-gray);
	font-size: var(--font-size-xsmall);
	text-decoration: none;
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box{
	position:absolute;
	top: 10px;
	right : 10px;
	display: flex;
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box a{
	padding: 5px 10px;
	text-decoration: none;
	color: var(--color-white);
	border-radius: 5px;
	font-size: var(--font-size-xsmall);
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box .update{
	background: var(--color-green);
	margin-right: 5px;
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box .update:hover{
	background: var(--color-hightlight-green);
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box .update:active{
	background: var(--color-dark-green);
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box .delete{
	background: var(--color-red);
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box .delete:hover{
	background: var(--color-hightlight-red);
}
#post-list-wrapper .inner-wrapper .post-list li .btn-box .delete:active{
	background: var(--color-dark-red);
}
#post-view-wrapper .back{
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-normal);
	color: var(--color-point-text);
	position: absolute;
	bottom: 5px;
	right: 10px;
	background-image: url("/svg/right_point.svg") !important;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	padding-right: 20px;
}
#post-view-wrapper .form{
	border: 1px solid var(--color-light-gray);
	margin: 30px 5px;
	border-radius: 5px;
}
#post-view-wrapper .form > div{
	padding: 5px 10px;
}
#post-view-wrapper .form > div:first-child{
	border-bottom: 1px solid var(--color-light-gray);
	
}
#post-view-wrapper .form .title{
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-large);
	color: black;
	padding-bottom: 5px;
}
#post-view-wrapper .form .nickname{
	color: var(--color-black);
	font-size: var(--font-size-small);
	text-decoration: none;
}
#post-view-wrapper .form .nickname:hover{
	text-decoration: underline;
}
#post-view-wrapper .form .date{
	color: var(--color-gray);
	font-size: var(--font-size-xsmall);
}
#post-view-wrapper .form .contents-wrapper{
	min-height: 500px;
}
#post-view-wrapper .form .contents-wrapper .contents{
	padding: 10px 0;
}
#post-view-wrapper .form .btn-box{
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
}
#post-view-wrapper .form .btn-box a{
	padding: 5px 10px;
	text-decoration: none;
	color: var(--color-white);
	border-radius: 5px;
	font-size: var(--font-size-xsmall);
}
#post-view-wrapper .form .btn-box .update{
	background: var(--color-green);
	margin-right: 5px;
}
#post-view-wrapper .form .btn-box .update:hover{
	background: var(--color-hightlight-green);
}
#post-view-wrapper .form .btn-box .update:active{
	background: var(--color-dark-green);
}
#post-view-wrapper .form .btn-box .delete{
	background: var(--color-red);
}
#post-view-wrapper .form .btn-box .delete:hover{
	background: var(--color-hightlight-red);
}
#post-view-wrapper .form .btn-box .delete:active{
	background: var(--color-dark-red);
}
#post-view-wrapper .form .novel{
	color: var(--color-point-text);
	text-decoration: none;
	display: block;
}
#post-view-wrapper .form .novel:hover{
	text-decoration: underline;
}
#post-edit-wrapper .inner-wrapper{
	padding : 15px 5px;
}
#post-edit-wrapper .inner-wrapper .title label{
	display: block;
	color: var(--color-dark-gray);
	padding: 5px 0 10px 0;
}
#post-edit-wrapper .inner-wrapper .title input{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid var(--color-light-gray);
	padding: 0 5px;
}
#post-edit-wrapper .inner-wrapper .contents label{
	display: block;
	color: var(--color-dark-gray);
	padding: 10px 0;
}
#post-edit-wrapper .inner-wrapper .contents textarea{
	width: 100%;
	min-height: 500px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid var(--color-light-gray);
}
#post-edit-wrapper .inner-wrapper .btn-box{
	display: flex;
	padding: 20px 5px;
	justify-content: flex-end;
}
#post-edit-wrapper .inner-wrapper .btn-box .back{
	display: block;
}
/*--------------------------- 프로필 ------------------------*/
#profile-wrapper .update{
	position: absolute;
	top: 5px;
	right: 5px;
	background: var(--color-green);
	padding: 5px 10px;
	text-decoration: none;
	color: var(--color-white);
	border-radius: 5px;
	font-size: var(--font-size-xsmall);
	cursor: pointer;
}
#profile-wrapper .update:hover{
	background: var(--color-hightlight-green);
}
#profile-wrapper .update:active{
	background: var(--color-dark-green);
}
#profile-wrapper .profile-table{
	border-collapse: collapse;
	border: 1px solid var(--color-light-gray);
	border-radius: 10px;
	width: 800px;
	margin: 50px auto;
}
#profile-wrapper .profile-table th,
#profile-wrapper .profile-table td{
	border: 1px solid var(--color-light-gray);
}
#profile-wrapper ul{
	list-style: none;
}
#profile-wrapper .profile-table th{
	width: 200px;
	padding: 10px;
}
#profile-wrapper .profile-table td{
	padding: 10px;
}
#profile-wrapper .profile-table .contents td{
	height: 400px;
	vertical-align: top;
}
#profile-wrapper .profile-table li{
	padding: 5px 0;
}
#profile-wrapper .profile-table .title{
	color: var(--color-point-text);
	text-decoration: none;
}
#profile-wrapper .profile-table .title:hover{
	text-decoration: underline;
}
#profile-wrapper .profile-table .genre{
	color: var(--color-gray);
	text-decoration: none;
	font-size: var(--font-size-small);
}
#profile-wrapper .profile-table .genre:hover{
	text-decoration: underline;
}

/* 장르 목록 */
#genre-list-wrapper{
	position: relative;
}
#genre-list-wrapper .add{
	position: absolute;
	top: 5px;
	right: 5px;
}
#genre-list-wrapper .add span{
	background: var(--color-point-text);
	color: var(--color-white);
	width: 20px;
	height: 20px;
	line-height: 18px;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
#genre-list-wrapper #genre-list{
	width: 800px;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;
}
#genre-list-wrapper #genre-list .genre-item{
	background: var(--color-fog);
	border-radius: 10px;
	border: var(--border-bold-size) solid var(--color-accent);
	margin: 15px;
	white-space: nowrap;
	padding: 5px 10px;
}
#genre-list-wrapper #genre-list .genre-item a{
	color: var(--color-black);
	text-decoration: none;
}
#genre-list-wrapper #genre-list .genre-item a:hover{
	text-decoration: underline;
}
#genre-list-wrapper #genre-list .genre-item .recom{
	font-size: var(--font-size-small);
	color: var(--color-dark-gray);
}
#genre-list-wrapper #genre-list .genre-item .genre-delete-btn{
	background: var(--color-red);
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	line-height: 18px;
	color: var(--color-white);
	text-align: center;
	user-select: none;
}
#genre-list-wrapper #genre-list .genre-item .genre-delete-btn:hover{
	background: var(--color-hightlight-red);	
}
#genre-list-wrapper #genre-list .genre-item .genre-delete-btn:active{
	background: var(--color-dark-red);
}