@charset "UTF-8";
.logo h1 {
  font-family: var(--font-logo);
  font-size: var(--font-size-logo);
  font-weight: 900;
}
.search-box {
  position: relative;
  border: none;
  border-left: var(--border-bold-size) solid var(--color-main);
}
.search-box .icon {
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: var(--size-icon-small);
  height: var(--size-icon-small);
  position: absolute;
  right: 0px;
  top: calc((var(--size-input-height) - var(--size-icon-small)) / 2);
  margin-right: var(--size-padding);
}
.search-select {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../svg/drop_down.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: inline-block;
  width: 80px;
  font-size: var(--font-size-normal);
  padding: var(--size-padding);
}
.search-select:focus {
  outline: none;
  border: none;
}
.input-text {
  height: var(--size-input-height);
  font-size: var(--font-size-normal);
  outline: none;
  border: none;
}
.search-box .input-text {
  width: 300px;
  padding-left: var(--size-padding);
  padding-right: 40px;
}
.input-text:focus {
  outline: none;
}
.btn button,
.btn a {
  background: var(--color-main);
  padding: 7px 15px;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
}
.btn button:hover,
.btn a:hover {
  background: var(--color-hightlight-main);
}
.btn button:active,
.btn a:hover {
  background: var(--color-dark-main);
}