@charset "UTF-8";
/* 컨테이너 */
body{
	min-height: 100vh;
	position: relative;
}
#header {
  padding: 15px 0;
}
#nav {
  background: var(--color-main);
}
#nav ul {
  list-style: none;
}
#nav ul li a {
  color: var(--color-white);
  text-decoration: none;
  padding: 15px 25px;
  display: block;
  text-align: center;
  min-width: 100px;
}
#nav ul li a:hover {
  background: var(--color-hightlight-main);
}
#nav ul li a:active {
  background: var(--color-dark-main);
}
#main{
	padding-bottom: 100px;
}
#footer {
  background: var(--color-footer);
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}
#footer p {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-light);
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
#ranking{
	background: #f1f0f0;
	padding: 50px 0;
}
#recom-theme{
	padding: 50px 0;
	background: #cdd2d6;
}
#etc{
	border-top: var(--border-light-size) solid var(--color-light-gray);	
}
#etc > div > div{
	padding: 50px 20px;
}
#etc > div > div:first-child{
	border-right: 1px solid #ccc;
}