@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");

:root {
  --color-main: #112e80;
  --color-dark-main: #0b1a70;
  --color-hightlight-main: #12498c;
  --color-hightlight-sub: #dae3f3;
  --color-footer: #595959;
  --color-gray: #787878;
  --color-dark-gray: #595959;
  --color-light-gray: #cccccc;
  --color-accent: #0695c2;
  --color-point-text: #63a4f3;
  --color-gold: #ffd700;
  --color-gold-border: #fbbb05;
  --color-silver: #c0c0c0;
  --color-silver-border: #9dabbf;
  --color-copper: #bd3b07;
  --color-copper-border: #7c3602;
  --color-white: #fff;
  --color-black: #202020;
  --color-red: #ff3737;
  --color-dark-red: #e61f2d;
  --color-hightlight-red: #ff5e44;
  --color-green: #21ac1a;
  --color-dark-green: #0e9914;
  --color-hightlight-green: #2fc140;

  --size-wrapper: 1000px;
  --size-padding: 10px;
  --size-input-height: 40px;

  --size-icon-small: 22px;

  --font-size-logo: 34px;
  --font-size-xsmall: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 28px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --border-bold-size: 3px;
  --border-light-size: 1px;

  --font-logo: "Calligraffitti", cursive;
  --font-default: "Noto Sans KR", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
}

/* border 관련 */
.border-3 {
  border: var(--border-bold-size) solid var(--color-black);
}
.border-1 {
  border: var(--border-light-size) solid var(--color-black);
}
.border-y-3 {
  border-top: var(--border-bold-size) solid var(--color-black);
  border-bottom: var(--border-bold-size) solid var(--color-black);
}
.border-b-1{
	border-bottom: var(--border-light-size) solid var(--color-black);
}
.border-color-main {
  border-color: var(--color-main);
}
.border-color-sub {
  border-color: var(--color-point-text);
}
.border-color-gray {
  border-color: var(--color-gray);
}
.border-color-light-gray {
  border-color: var(--color-light-gray);
}
.border-collapse {
  border-collapse: collapse;
}

/* padding 관련 */
.p-2 {
  padding: 2px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.pr-5{
	padding-right: 5px;
}
.pr-10{
	padding-right: 10px;
}

.pt-20{
	padding-top: 20px;
}
.pt-30{
	padding-top: 30px;
}

.pb-10{
	padding-bottom: 10px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-50{
	padding-bottom: 50px;
}
.pb-60{
	padding-bottom: 60px;
}
.pb-80{
	padding-bottom: 80px;
}

.px-2 {
  padding: 0 2px;
}
.px-10{
	padding: 0 10px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mb-5{
	margin-bottom: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-5{
	margin-top: 5px;
}
.mt-10{
	margin-top: 10px;
}
.mr-5{
	margin-right: 5px;
}

.round {
  border-radius: 5px;
}

.center-box {
  margin: 0 auto;
}

.w-100p {
  width: 100%;
}
.w-90p {
  width: 90%;
}
.w-80p {
  width: 80%;
}
.w-70p {
  width: 70%;
}
.w-60p {
  width: 60%;
}
.w-55p {
  width: 55%;
}
.w-50p {
  width: 50%;
}
.w-40p {
  width: 40%;
}
.w-30p {
  width: 30%;
}
.w-20p {
  width: 20%;
}
.w-10p {
  width: 10%;
}

.w280{
	width: 280px;
}

/* 텍스트 관련 */
.text-black {
  color: var(--color-black) !important;
}
.text-white {
  color: var(--color-white) !important;
}
.text-accent {
  color: var(--color-accent) !important;
}
.text-point{
	color: var(--color-point-text) !important;
}
.text-gray{
	color: var(--color-gray) !important;
}

.text-center {
  text-align: center;
}

.text-ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
}

.overflow-hidden{
	overflow: hidden;
}


/* flex 관련 */
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end{
	justify-content: flex-end;
}
.item-center {
  align-items: center;
}
.dir-col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.flex-50 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
